<!-- <h1 class="col-lg-12 text-center">Berekenen van de Effectieve Snelheid</h1> -->
<div class="col-lg-12 root">
    <div class="col-lg-3">
        <app-form [setting]="currentSetting" (updateCurrentSetting)="updateCurrentSetting($event)" (saveAsNew)="saveAsNew($event)"></app-form>
    </div>

    <div class="col-lg-9">
        <div class="col-lg-12">
            <canvas id="chart"></canvas>
        </div>
        <div class="col-lg-12">
             <app-list [lists]="lists"></app-list>
        </div>
    </div>
</div>
